{% extends 'base.html' %}
{% block title %}Inventory Items{% endblock %}
{% block head %}


{% endblock %}

{% block body %}
<div class="row mt-4 mb-4">
    <div class="col-10 mx-auto">
        <h1>Item Inventory</h1>
        <h6>Showing all items in your inventory</h6>
    </div>
</div>


<div class="row">
    <div class="col-10 mx-auto">

        <table class="table">
            <thead>
                <th scope="col">Product Name</th>
                <th scope="col">Warehouse</th>
                <th scope="col">Serial Number</th>
                <th scope="col">Edit?</th>
                <th scope="col">Delete?</th>
            </thead>



            <tbody>
                <tr>
                    <td>
                        <a class="btn btn-outline-primary form-control" href="/new-item-form" role="button">Add a new
                            item to inventory</a>

                    </td>
                    <td></td>
                    <td></td>
 

                    <td></td>
                </tr>
                {% for item in items %}
                <tr>
                    <td>{{item.product.product_name}}</td>
                    <td>{{item.warehouse.warehouse_name}}</td>
                    {% if item.serial_number %}
                    <td>{{item.serial_number}}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                    <td>
                        <button type="button" class="btn btn-outline-secondary form-control edit-button"
                            name="item-to-edit" id={{item.id}}>Edit Item</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-danger form-control delete-button"
                            name="item-to-delete" id={{item.id}}>Delete Item</button>
                    </td>
                </tr>

                {% endfor %}
            </tbody>

        </table>


    </div>
</div>

<script src="/static/js/editAndDeleteButtons.js"></script>

{% endblock %}