{% extends 'base.html' %}
{% block title %}Inventory Items{% endblock %}
{% block head %}


{% endblock %}

{% block body %}
<div class="row mt-4 mb-4">
    <div class="col-10 mx-auto">
        <h1>Add Item to Inventory</h1>
        <h6>Fill out the form below to add a new item to inventory</h6>
    </div>
</div>

<div class="row">
    <div class="col-10 mx-auto">
        <form action="/items" method="POST">
            <label for="product-id" class="form-label">Product Name</label>
            <select class="form-control mb-3" id="product-id" name="product-id">
                {% for product in products %}
                <option value={{product.id}}>{{product.product_name}}</option>
                {% endfor %}
            </select>
            <label for="serial-number" class="form-label">Enter the item's serial number (leave blank if no
                serial)</label>
            <input type="text" class="form-control mb-3" name="serial-number">
            <button type="submit" class="btn btn-outline-primary">Add this item to Inventory</button>
        </form>
    </div>
</div>


{% endblock %}